# Monorepo root
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Backend
backend/.gradle/
backend/build/
backend/out/
backend/*.log

# Generic logs
*.log
